/* Для хранения палитры цветов макета (текст, фон, выделение) используются CSS-переменные. */
:root {
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --accent-color: #2196F3;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #212121;
}

h2{
    font-size: 36px;
    line-height: 1.17;
    font-weight: 700;
}
.developers {
    font-size: 16px;
    line-height: 1.17;
    font-weight: 500;
}
.position {
    font-size: 16px;
    line-height: 1.17;
    color:#757575;
    font-weight: 400;
}

.hero-heading {
    font-size: 44px;
    line-height: 1.36;
    font-weight: 900;
}
.hero-button {
    font-size: 16px;
    line-height: 1.88;
    font-weight: 700;
}

.top-logo{
    color:#212121;
}

.bot-logo {
    color:#ffffff;
}

.logo {
    font-size: 26px;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
}

.nav-pages,
.nav-contacts,
.products,
.pages {
    list-style-type: none;
    text-decoration: none;
}
.pages {
    font-size: 14px;
    line-height: 1.17;
    color: #212121;
    font-weight: 500;   
}
.pages:hover,
.pages:focus{
    color: #2196F3;
}

.contacts {
    font-size: 14px;
    line-height: 1.17;
    color: #757575;
    font-weight: 500;
}
.contacts:hover,
.contacts:focus {
    color: #2196F3;
}

.tabs {
    font-size: 16px;
    line-height: 1.63;
    color: #212121;
    font-weight: 500;
}

.decisions {
    font-size: 18px;
    line-height: 2;
    font-weight: 700;
}
.type {
    font-size: 16px;
    line-height: 1.88;
    color: #757575;
    font-weight: 400;
}

.advantages,
.trends {
    list-style-type: none;
}
.advan-descrip {
    font-size: 14px;
    line-height: 1.17;
    color: #212121;
    font-weight: 700;
}
.advan-text {
    font-size: 14px;
    line-height: 1.71;
    color: #757575;
    font-weight: 400;
}

li > button:hover,
li > button:focus {
    background-color: #2196F3;
    color: #ffffff;
    cursor: pointer;
}

footer {
    background: #2F303A;
}

address {
    font-size: 14px;
    line-height: 1.71;
    color: #ffffff;
    font-weight: 400;
}

